#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;

  box-sizing: border-box;
}
body {
  background-color: #FAF9F6;
  
}
h1 {
  font-size: 60px;
}
h2 {
  color: rgb(0, 6, 0);
  text-align: center;
  font-weight: bold;
  font-style: italic;
  padding-right: 25%;
  margin: 0 auto;
  padding-top: 5%;
}
h3 {
  color: rgb(234, 4, 4);
  font-style: italic;
  padding-right: 25%;
  margin: 0 auto;
  margin-top: 5px;
}

#logo-image {
  width: 100px;
  margin-right: 10px;
}
button {
  background-color: lightgray;
  color: black;
  font-size: 1em;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 2px;
}
button:hover {
  border-color: #646cff;
}

.details-button {
  margin-right: 27%;
}

.single-book {
  display: block;
  text-align: center;
}

.book-title {
  color: rgb(0, 3, 0);
  font-weight: bold;
  text-decoration: underline;
  font-size: larger;
}

.author {
  color: rgb(2, 2, 9);
  font-style: italic;
}

p {
  text-align: center;
}

.login-message {
  font-weight: bold;
  font-size: large;
  color: rgb(4, 3, 3);
  text-align: center;
}

.message {
  font-weight: bold;
  font-size: large;
  color: rgb(255, 123, 0);
  text-align: center;
}

.account-title {
  color: rgb(1, 8, 1);
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  padding-right: 3%;
  margin: 0 auto;
  padding-top: 5%;
}

.Catalog {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  width: 1500px;
}
